html {
  box-sizing: border-box;
  background: #f0eee8;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  max-width: 20em;
  padding: 1em;
  border: 3px solid #9a816d;
  border-radius: 8px;
  background: #dcd4cd;
  font-size: 1rem;
  display: inline-block;
  text-decoration: none;
  color: #785439;
}

.link-card:hover {
  max-width: 20em;
  padding: 1em;
  border: 3px solid #9a816d;
  border-radius: 8px;
  background: #cabdb2;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #512200;
  margin: 0 0 1rem;
  display: block;
}

dl {
  list-style: none;
  font-size: .875rem;
  display: grid;
  grid-template: auto / 10em 1fr;
}

dd {
  margin: 0;
  font-style: italic;
}

.list {
  border-top: 3px solid #785439;
  border-bottom: 3px solid #785439;
  padding: 1em .75em 1em 0;
}

.btn {
  font-family: Dosis, sans-serif;
  margin-left: 5em;
  margin-right: 5em;
  text-align: center;
  font-weight: bold;
  padding: .4em .75em .5em;
  background-color: #785439;
  text-decoration: none;
  color: #f0eee8;
  border-radius: 8px;
  font-size: 1rem;
}

.btn:hover {
  background-color: #512200;
  text-decoration: none;
  color: #f0eee8;
  border-radius: 8px;
  text-align: center;
}
